<h3>Update User</h3>
<form (ngSubmit)="onSubmit()">
  <div>
    <label>Id</label>
    <input type="text" class="form-control" id="id" [(ngModel)]="user.id" name="id">
  </div>
  <br>
  <div>
    <label>Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
  </div>
  <br>
  <div>
    <label>Address</label>
    <input type="text" class="form-control" id="address" [(ngModel)]="user.address" name="address">
  </div>
  <br>
  <div>
    <label>Age</label>
    <input type="text" class="form-control" id="age" [(ngModel)]="user.age" name="age">
  </div>
  <br>
  <div>
    <label>Position</label>
    <input type="text" class="form-control" id="position" [(ngModel)]="user.position" name="position">
  </div>
  <br>
  <div>
    <label>Sex</label>
    <input type="text" class="form-control" id="sex" [(ngModel)]="user.sex" name="sex">
  </div>
  <br>
  <div>
    <label>Salary</label>
    <input type="text" class="form-control" id="salary" [(ngModel)]="user.salary" name="salary">
  </div>
  <br>
  <div>
    <label>Company</label>
    <input type="text" class="form-control" id="company" [(ngModel)]="user.company" name="company">
  </div>
  <br>
  <div>
    <label>Status</label>
    <input type="text" class="form-control" id="status" [(ngModel)]="user.status" name="status">
  </div>
  <br>
  <button type="submit">Change</button>
</form>
