<!--<app-user-list></app-user-list>-->
<ul style="list-style: none">
  <li>
    <a routerLink="user" routerLinkActive="active">List User</a><br>
  </li>
  <li>
    <a routerLink="create" routerLinkActive="active">Create User</a><br>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
