<h3>User Detail</h3>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>address</th>
    <th>age</th>
    <th>position</th>
    <th>sex</th>
    <th>salary</th>
    <th>company</th>
    <th>status</th>
    <th>action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.address}}</td>
    <td>{{user.age}}</td>
    <td>{{user.position}}</td>
    <td>{{user.sex}}</td>
    <td>{{user.salary}}</td>
    <td>{{user.company}}</td>
    <td>{{user.status}}</td>
  </tr>
  </tbody>
</table>
