<h3>List User</h3>
<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>address</th>
    <th>age</th>
    <th>position</th>
    <th>sex</th>
    <th>salary</th>
    <th>company</th>
    <th>status</th>
    <th>action</th>
    <th>access</th>
    <th>delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td>{{user.id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.address}}</td>
    <td>{{user.age}}</td>
    <td>{{user.position}}</td>
    <td>{{user.sex}}</td>
    <td>{{user.salary}}</td>
    <td>{{user.company}}</td>
    <td>{{user.status}}</td>
    <td>
      <button (click)="updateUser(user.id)">update</button>
    </td>
    <td>
      <button (click)="getUserById(user.id)">get</button>
    </td>
    <td>
      <button (click)="deleteUser(user.id)">delete</button>
    </td>
  </tr>
  </tbody>
</table>
